---
layout: default
title: Tom Slanda
---
<!DOCTYPE html>
<html lang="en">

<head>
    <title>Tom Slanda</title>
</head>

<body>
    <div>
        {% include hero.html %}
    </div>
    <section>
        {% include about-me.html %}
    </section>
    <section>
        {% include current-projects.html %}
    </section>
    <section>
        {% include past-projects.html %}
    </section>
    <section>
        {% include experience.html %}
    </section>
    <section>
        {% include certifications.html %}
    </section>
    <section>
        {% include portfolio.html %}
    </section>
    <section>
        {% include tools.html %}
    </section>
    <footer>
        {% include footer.html %}
    </footer>
</body>

</html>