---
layout: default
title: Home
---
<!DOCTYPE html>
<html lang="en">

<head>
    <title>Tom Slanda</title>
</head>

<body>
    <div>
        {% include hero.html %}
    </div>
    <div class="section">
        {% include about-me.html %}
    </div>
    <div class="section">
        {% include current-projects.html %}
    </div>
    <div class="section">
        {% include past-projects.html %}
    </div>
    <div class="section">
        {% include experience.html %}
    </div>
    <div class="section">
        {% include certifications.html %}
    </div>
    <div class="section">
        {% include portfolio.html %}
    </div>
    <div class="section">
        {% include tools.html %}
    </div>
    <div class="block"></div>
    <div>
        {% include footer.html %}
    </div>
</body>

</html>