:root {
  /* Colors */
  --hero-color: hsla(159, 42.5%, 47.1%, 1);
  --bg-color: hsla(114, 45.9%, 92.7%, 1);
  --card-heading-color: hsla(140, 61.6%, 85.7%, 1);
  --card-body-color: hsla(125, 33.3%, 96.5%, 1);
  --content-color: hsla(125, 37.5%, 96.9%, 1);
  --content-font-color: hsla(199, 38.7%, 32%, 1);
  --font-color: hsla(152, 67.3%, 38%, 1);
  --card-heading-font-color: hsla(122, 37.6%, 36.5%, 1);
  --hero-font-color: hsla(151, 53.3%, 94.1%, 1);
  --border-color: hsla(230, 61%, 83.9%, 1);
  --black: hsla(0, 0%, 0%, 1);
  --white: hsla(200, 100%, 100%, 1);

  /* Border */
  --box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
  --border-radius: 0.438rem 0.438rem 0.438rem 0.438rem;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}

body {
  background-color: var(--bg-color);
  color: var(--font-color);
}

html {
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
  scroll-behavior: smooth;
}

section {
  padding: 1rem;
}

.about-me-container {
  display: flex;
  gap: 1rem;
}

.card {
  display: flex;
  flex-direction: column;
  text-align: center;
  border-radius: 0.5rem;
  background-color: var(--hero-color);
  height: 25rem;
  width: 18.75rem;
  box-shadow: var(--box-shadow);
}

.card-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(332px, 1fr));
  gap: 1rem;
  place-items: center;
  margin: 0 auto;
  margin-left: 1rem;
  color: var(--content-font-color);
  line-height: 1.25rem;
  border-radius: 0.5rem;
}

.card-content {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--content-color);
  color: var(--content-font-color);
  padding: 0.5rem;
  border: 0.063rem solid transparent;
  margin: 0 0.5rem;
  height: 9.375rem;
}

.card-content.block {
  display: block;
  padding-left: 1rem;
  text-align: left;
}

.card-divider {
  margin: 0 0.5rem;
  padding: 0.25rem;
  border-top: 0.063rem solid var(--hero-color);
  border-bottom: 0.063rem solid var(--hero-color);
  background-color: var(--card-heading-color);
}

.card-footer {
  background-color: var(--card-heading-color);
  color: var(--card-heading-font-color);
  padding: 0.5rem;
  border-radius: 0 0 0.438rem 0.438rem;
  border: 0.063rem solid transparent;
  border-top: 0.063rem solid var(--hero-color);
  margin: 0 0.5rem 0.5rem 0.5rem;
}

.card-footer a {
  color: var(--card-heading-font-color);
}

.card-footer a:hover {
  font-weight: bold;
}

.card-heading {
  background-color: var(--card-heading-color);
  color: var(--card-heading-font-color);
  padding: 0.5rem;
  border-radius: 0.438rem 0.438rem 0 0;
  border: 1px solid transparent;
  border-bottom: 0.063rem solid var(--hero-color);
  margin: 0.5rem 0.5rem 0 0.5rem;
}

.card-heading.font-md {
  font-size: 0.68rem;
}

.card-image {
  display: flex;
  align-items: center;
  place-content: center;
  background-color: var(--content-color);
  margin: 0 0.5rem 0 0.5rem;
  padding: 1rem 0 1rem 0;
  height: 12.5rem;
}

.content-container {
  background-color: var(--content-color);
  padding: 1rem;
  color: var(--content-font-color);
  border: 0.5rem solid var(--hero-color);
  box-shadow: var(--box-shadow);
  margin-left: 1rem;
  line-height: 1.25rem;
  border-radius: 0.5rem;
}

.footer {
  display: flex;
  color: var(--hero-font-color);
  flex-direction: column;
  row-gap: 1rem;
  background-color: var(--hero-color);
  margin-top: 1rem;
  padding: 1rem;
  border-top: 0.063rem solid transparent;
}

.footer a {
  text-decoration: none;
  color: var(--hero-font-color);
}

.footer a:hover {
  font-weight: bold;
}

.footer-container {
  display: flex;
  justify-content: center;
  gap: 0.5rem;
}

.headshot-container {
  padding: 1rem;
}

.headshot-container img {
  border: 0.5rem solid var(--hero-color);
  border-radius: 50%;
  box-shadow: var(--box-shadow);
}

.hero-banner {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
  background-color: var(--hero-color);
  padding: 1rem;
}

.hero-banner h1 {
  width: 100%;
  color: var(--hero-font-color);
  text-shadow: 0 0 0.5rem var(--card-heading-font-color);
  font-size: 2.5rem;
}

.main-container {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  max-width: 1200px;
}

.message-header > h2 {
  font-size: 1.75rem;
  margin: 1rem 0 1rem 1rem;
}

.navbar {
  background-color: var(--hero-color);
  display: flex;
  text-decoration: none;
  padding-top: 2rem;
  justify-content: space-around;
  list-style: none;
}

.navbar li a {
  color: var(--hero-font-color);
  text-decoration: none;
  padding: 1rem 0.938rem;
  border-radius: 0.438rem 0.438rem 0 0;
  transition: background-color 0.3s ease;
}

.navbar li a:hover {
  background-color: var(--bg-color);
  border: 0.063rem solid transparent;
  border-bottom: none;
  color: var(--font-color);
}

.past-projects {
  padding: 1rem;
}

@media (max-width: 1200px) {
  .navbar {
    display: none;
  }
}

@media (max-width: 750px) {
  .about-me-container {
    flex-wrap: wrap;
    justify-content: center;
  }
}

@media (prefers-reduced-motion: reduce) {
  html {
    scroll-behavior: auto;
  }
}
