{% capture about-me %}
<section>
    <h2 class="content-title">About Me</h2>
    <div class="content-container">
        <p>Hello! My name is Tom Slanda.</p>
        <br />
        <p>I am an experienced Project Manager, Product Owner and Scrum Master, specializing in open source
            software, software-as-a-service (SaaS) and web technologies.</p>
        <br />
        <p>My last name rhymes with 🐼.</p>
    </div>
</section>
{% endcapture %}

{% include message-component.html title="About Me" content=about-me %}