<article class="message is-large" id="about">
    <div class="message-header is-size-3 has-background-info-dark">
        <h2>About Me</h2>
    </div>
    <div class="message-body">
        <h3 class="is-size-4 has-text-weight-bold has-text-black">Hello!&nbsp; My name is Tom Slanda.</h3>
        <div class="block"></div>
        <p class="has-text-black">I am an experienced Project Manager, Product Owner and Scrum Master,
            specializing in open source software, software-as-a-service (SaaS) and web technologies.</p>
        <div class="block"></div>
        <div class="block"></div>
        <p class="has-text-black"> My last name rhymes with &#128060;.</p>
    </div>
</article>