{% capture certifications %}
<div class="card-container">
    <div class="card">
        <div class="card-heading">
            <h3>Project Management</h3>
        </div>
        <div class="card-body">
            <img src="https://raw.githubusercontent.com/slandath/images/main/resized/google.png" alt="Google image" />
            <br />
            <a class="cert-link" href="https://www.credly.com/badges/3e3f4533-a26f-46ed-97ff-0e6f913b0ea9"
                target="_blank">Badge</a>
        </div>
    </div>
    <div class="card">
        <div class="card-heading">
            <h3>Certified Scrum Product Owner</h3>
        </div>
        <div class="card-body">
            <img src="https://raw.githubusercontent.com/slandath/images/main/cspo-seal-100.png" alt="CSPO badge" />
            <br />
            <a class="
                    cert-link" href="https://bcert.me/saysfqmiz" target="_blank">
                Badge</a>
        </div>
    </div>
    <div class="card">
        <div class="card-heading">
            <h3>Certified ScrumMaster</h3>
        </div>
        <div class="card-body">
            <img src="https://raw.githubusercontent.com/slandath/images/main/csm-seal-100.png" alt="CSM Badge" />
            <br />
            <a class=" cert-link" href="https://bcert.me/bc/html/show-badge.html?b=bucsfvzl" target="_blank">Badge</a>
        </div>
    </div>
    <div class="card">
        <div class="card-heading">
            <h3>Full-Stack Engineer</h3>
        </div>
        <div class="card-body">
            <img src="https://raw.githubusercontent.com/slandath/images/main/resized/meta.png" alt="Meta logo" />
            <br />
            <a class=" cert-link" href="https://www.credly.com/badges/5463f0d9-72d5-4d1c-ad51-c4ff345f2fa1"
                target="_blank">Badge</a>
        </div>
    </div>
</div>
{% endcapture %}
{% include message-component.html title="Certifications" id="certifications" content=certifications %}