<article class="message" id="certifications">
    <div class="message-header is-size-3">
        <h2>Certifications</h2>
    </div>
    <div class="message-body">
        <div class="columns">
            <div class="column">
                <div class="card">
                    <header class="card-header">
                        <h3 class="card-header-title is-size-5 is-centered">
                            Project
                            Management
                        </h3>
                    </header>
                    <div
                        class="card-content has-text-centered is-size-5 has-background-primary-100 has-text-primary-100-invert">
                        <figure>
                            <img src="https://raw.githubusercontent.com/slandath/images/main/resized/google.png"
                                alt="Google image" />
                        </figure>
                        <a class="cert-link" href="https://www.credly.com/badges/3e3f4533-a26f-46ed-97ff-0e6f913b0ea9"
                            target="_blank">Badge</a>
                    </div>
                </div>
            </div>
            <div class="column">
                <div class="card">
                    <header class="card-header">
                        <h3 class="card-header-title is-size-5 is-centered">
                            Certified Scrum
                            Product
                            Owner
                        </h3>
                    </header>
                    <div
                        class="card-content has-text-centered is-size-5 has-background-primary-100 has-text-primary-100-invert">
                        <figure>
                            <img src="https://raw.githubusercontent.com/slandath/images/main/cspo-seal-100.png"
                                alt="CSPO badge" />
                        </figure>
                        <a class="
                        cert-link" href="https://bcert.me/saysfqmiz" target="_blank">
                            Badge</a>
                    </div>
                </div>
            </div>
            <div class="column">
                <div class="card">
                    <header class="card-header">
                        <h3 class="card-header-title is-size-5 is-centered">
                            Certified ScrumMaster
                        </h3>
                    </header>
                    <div
                        class="card-content has-text-centered is-size-5 has-background-primary-100 has-text-primary-100-invert">
                        <figure>
                            <img src="https://raw.githubusercontent.com/slandath/images/main/csm-seal-100.png"
                                alt="CSM Badge" />
                        </figure>
                        <a class=" cert-link" href="https://bcert.me/bc/html/show-badge.html?b=bucsfvzl"
                            target="_blank">Badge</a>
                    </div>
                </div>
            </div>
            <div class="column">
                <div class="card">
                    <header class="card-header">
                        <h3 class="card-header-title is-size-5 is-centered">
                            Full-Stack
                            Engineer
                        </h3>
                    </header>
                    <div
                        class="card-content has-text-centered is-size-5 has-background-primary-100 has-text-primary-100-invert">
                        <figure>
                            <img src="https://raw.githubusercontent.com/slandath/images/main/resized/meta.png"
                                alt="Meta logo" />
                        </figure>
                        <a class=" cert-link" href="https://www.credly.com/badges/5463f0d9-72d5-4d1c-ad51-c4ff345f2fa1"
                            target="_blank">Badge</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</article>