{% capture certifications %}
<div class="card-container">
    <div class="card">
        <div class="card-heading">
            <h3>Project Management</h3>
        </div>
        <div class="card-image">
            <img src="https://raw.githubusercontent.com/slandath/images/main/resized/google.png" alt="Google image" />
        </div>
        <div class="card-divider"></div>
        <div class="card-content">
            <p>Those who earn the Google Project Management Certificate are competent in initiating, planning and
                running both traditional and agile projects.</p>
        </div>
        <div class="card-footer">
            <a class="cert-link" href="https://www.credly.com/badges/3e3f4533-a26f-46ed-97ff-0e6f913b0ea9"
                target="_blank">Badge</a>
        </div>
    </div>
    <div class="card">
        <div class="card-heading font-md">
            <h3>Certified Scrum Product Owner</h3>
        </div>
        <div class="card-image">
            <img src="https://raw.githubusercontent.com/slandath/images/main/cspo-seal-100.png" alt="CSPO badge" />
        </div>
        <div class="card-divider"></div>
        <div class="card-content">
            A CSPO has validated scrum knowldege and understands the product owner accountability on a scrum team.
        </div>
        <div class="card-footer"> <a class="
            cert-link" href="https://bcert.me/saysfqmiz" target="_blank">
                Badge</a></div>
    </div>
    <div class="card">
        <div class="card-heading">
            <h3>Certified ScrumMaster</h3>
        </div>
        <div class="card-image">
            <img src="https://raw.githubusercontent.com/slandath/images/main/csm-seal-100.png" alt="CSM Badge" />
        </div>
        <div class="card-divider"></div>
        <div class="card-content">
            <p>A CSM on a scrum team fosters an effective and productive working environment.</p>
        </div>
        <div class="card-footer">
            <a class=" cert-link" href="https://bcert.me/bc/html/show-badge.html?b=bucsfvzl" target="_blank">Badge</a>
        </div>
    </div>
    <div class="card">
        <div class="card-heading">
            <h3>Full-Stack Engineer</h3>
        </div>
        <div class="card-image">
            <img src="https://raw.githubusercontent.com/slandath/images/main/resized/meta.png" width="250px"
                alt="Meta logo" />
        </div>
        <div class="card-divider"></div>
        <div class="card-content">
            <p>The Meta Full-Stack Engineer Certificate is awarded to learners who complete both the Front-end and
                Backend Developer certificate programs, developed by Meta experts.</p>
        </div>
        <div class="card-footer">
            <a class=" cert-link" href="https://www.credly.com/badges/5463f0d9-72d5-4d1c-ad51-c4ff345f2fa1"
                target="_blank">Badge</a>
        </div>
    </div>
</div>
{% endcapture %}
{% include collapse-heading.html title="Certifications" id="certifications" content=certifications %}