{% capture experience %}
<div class="card-container">
    <div class="card">
        <div class="card-heading">
            <h3>Projects Coordinator</h3>
        </div>
        <div class="card-image">
            <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/f/fd/Linux_Foundation_logo_2013.svg/1024px-Linux_Foundation_logo_2013.svg.png"
                width="300px" height="101px" alt="The Linux Foundation logo" />
        </div>
        <div class="card-content">
            <p>A neutral, trusted hub for developers and organizations to code, manage, and scale open technology
                projects and ecosystems.</p>
        </div>
        <div class="card-footer">
            <a href="https://www.linuxfoundation.org/" target="_blank">Website</a>
        </div>
    </div>
    <div class="card">
        <div class="card-heading">
            <h3>IT Project Manager</h3>
        </div>
        <div class="card-image">
            <img src="https://raw.githubusercontent.com/slandath/images/main/resized/lspedia.png" width="300px"
                height="68px" alt="LSPedia logo" />
        </div>
        <div class="card-content">
            <p>Industry leading serialization and supply chain solutions. </p>
        </div>
        <div class="card-footer">
            <a href="https://www.lspedia.com/" target="_blank">Website</a>
        </div>
    </div>
    <div class="card">
        <div class="card-heading">
            <h3>Technology Manager</h3>
        </div>
        <div class="card-image">
            <img src="https://raw.githubusercontent.com/slandath/images/main/resized/cellohr.png" width="300px"
                height="76px" alt="cellohr logo" />
        </div>
        <div class="card-content">
            <p>HR Technology and Enhanced HR support.</p>
        </div>
        <div class="card-footer">
            <a href="https://cellohr.com" target="_blank">Website</a>
        </div>
    </div>
    <div class="card">
        <div class="card-heading">
            <h3>Technology Manager</h3>
        </div>
        <div class="card-image">
            <img src="https://media.licdn.com/dms/image/v2/C4E0BAQENcSySmkMlvg/company-logo_200_200/company-logo_200_200/0/1631326013320?e=1748476800&v=beta&t=p7vLYKfNfTeM45ho3dc2lgu0KP7Z2UNqGvIfI0d8Tyk"
                height="150px" alt="orsus logo" />
        </div>
        <div class="card-content">
            <p>The industy leader in accurate and dependable background screening.</p>
        </div>
        <div class="card-footer">
            <a href="https://theorsusgroup.com" target="_blank">Website</a>
        </div>
    </div>
</div>
{% endcapture %}
{% include message-component.html title="Experience" id="experience" content=experience %}