{% capture experience %}
<div class="card-container">
    <div class="card">
        <div class="card-heading">
            <h3>Projects Coordinator</h3>
        </div>
        <div class="card-body">
            <img src="https://raw.githubusercontent.com/slandath/images/main/resized/lf.jpg"
                alt="The Linux Foundation logo" />
            <br />
            <a href="https://www.linuxfoundation.org/" target="_blank">Website</a>
        </div>
    </div>
    <div class="card">
        <div class="card-heading">
            <h3>IT Project Manager</h3>
        </div>
        <div class="card-body">
            <img src="https://raw.githubusercontent.com/slandath/images/main/resized/lspedia.png" alt="LSPedia logo" />
            <br />
            <a href="https://www.lspedia.com/" target="_blank">Website</a>
        </div>
    </div>
    <div class="card">
        <div class="card-heading">
            <h3>Technology Manager</h3>
        </div>
        <div class="card-body">
            <img src="https://raw.githubusercontent.com/slandath/images/main/resized/cellohr.png" alt="cellohr logo" />
            <br />
            <a href="https://cellohr.com" target="_blank">Website</a>
        </div>
    </div>
    <div class="card">
        <div class="card-heading">
            <h3>Technology Manager</h3>
        </div>
        <div class="card-body">
            <img src="https://raw.githubusercontent.com/slandath/images/main/resized/Orsus.png" alt="orsus logo" />
            <br />
            <a href="https://theorsusgroup.com" target="_blank">Website</a>
        </div>
    </div>
</div>
{% endcapture %}
{% include message-component.html title="Experience" id="experience" content=experience %}