<div class="hero-banner">
    <h1>Tom Slanda</h1>
    <nav>
        <ul class="navbar">
            <li><a href="/resume">Resume</a></li>
            <li><a href="#about-me">About Me</a></li>
            <li><a href="#current-projects">Current Projects</a></li>
            <li><a href="#past-projects">Past Projects</a></li>
            <li><a href="#experience">Experience</a></li>
            <li><a href="#certifications">Certifications</a></li>
            <li><a href="#portfolio">Portfolio</a></li>
            <li><a href="#tools">Tools</a></li>
        </ul>
    </nav>
</div>
