<section class="hero is-small">
    <div class="hero-head has-text-centered">
        <h2 class="is-size-1">Tom Slanda, CSM, CSPO</h2>
    </div>
    <div class="hero-body has-text-centered">
        <p class="is-size-4">Project Management</p>
        <p class="is-size-4">Web Development</p>
        <p class="is-size-4">&nbsp;Information Technology</p>
    </div>
    <div class="hero-foot">
        <nav class="tabs is-boxed is-fullwidth">
            <div class="container">
                <ul>
                    <li><a>About Me</a></li>
                    <li><a>Current Projects</a></li>
                    <li><a>Past Projects</a></li>
                    <li><a>Experience</a></li>
                    <li><a>Certifications</a></li>
                    <li><a>Portfolio</a></li>
                    <li><a>Tools</a></li>
                </ul>
            </div>
        </nav>
    </div>
</section>