{% capture portfolio %}
<div class="card-container">
    <div class="card">
        <div class="card-heading">
            <h3>Turizak</h3>
        </div>
        <div class="card-image">
            <img src="https://raw.githubusercontent.com/slandath/images/main/turizak-100.png" alt="turizak dev icon" />
        </div>
        <div class="card-divider"></div>
        <div class="card-content">
            <p>
                My Web Development Team.
            </p>
        </div>
        <div class="card-footer">
            <a href="https://turizak.github.io/" target="_blank">Website</a>
        </div>
    </div>
    <div class="card">
        <div class="card-heading">
            <h3>Arithmetic Game</h3>
        </div>
        <div class="card-image">
            <img src="https://raw.githubusercontent.com/slandath/images/main/resized/maths.png"
                alt="math operators icon" />
        </div>
        <div class="card-divider"></div>
        <div class="card-content">
            <p>
                Practice your arithmetic!
            </p>
        </div>
        <div class="card-footer">
            <a href="https://arithmetic.tomslanda.com/" target="_blank">Website</a>
        </div>
    </div>
    <div class="card">
        <div class="card-heading">
            <h3>Coffee Blog</h3>
        </div>
        <div class="card-image">
            <img src="https://raw.githubusercontent.com/slandath/images/main/resized/big-cup.png"
                alt="coffee mug icon" />
        </div>
        <div class="card-divider"></div>
        <div class="card-content">
            <p>
                All things java!
            </p>
        </div>
        <div class="card-footer">
            <a href="https://coffee.tomslanda.com" target="_blank">Website</a>
        </div>
    </div>
    <div class="card">
        <div class="card-heading">
            <h3>CS2 Keybind Tool</h3>
        </div>
        <div class="card-image">
            <img src="https://raw.githubusercontent.com/slandath/images/main/csKeybind/cs2logo50.jpg" alt="cs2 logo" />
        </div>
        <div class="card-divider"></div>
        <div class="card-content">
            <p>
                Generate commands for your keybinds.
            </p>
        </div>
        <div class="card-footer">
            <a href="https://cs2-keybinds.vercel.app/" target="_blank">Website</a>
        </div>
    </div>
    <div class="card">
        <div class="card-heading">
            <h3>March Madness Bracket</h3>
        </div>
        <div class="card-image">
            <img src="https://upload.wikimedia.org/wikipedia/commons/2/28/March_Madness_logo.svg"
                alt="march madness logo" />
        </div>
        <div class="card-divider"></div>
        <div class="card-content">
            <p>
                Bracket for the NCAA Men's Basketball Tournament.
            </p>
        </div>
        <div class="card-footer">
            <a href="https://tom-march-madness.vercel.app/" target="_blank">Website</a>
        </div>
    </div>
</div>
{% endcapture %}
{% include message-component.html title="Portfolio" id="portfolio" content=portfolio %}
