{% capture portfolio %}
<div class="columns">
    <div class="column">
        <div class="card">
            <header class="card-header">
                <h3 class="card-header-title is-size-5 is-centered">
                    <a href=" https://turizak.github.io/" target="_blank">Turizak</a>
                </h3>
            </header>
            <div
                class="card-content has-text-centered is-size-5 has-background-primary-100 has-text-primary-100-invert">
                <figure>
                    <img src="https://raw.githubusercontent.com/slandath/images/main/turizak-100.png"
                        alt="turizak dev icon" />
                </figure>
                <p>
                    My Web Development Team
                </p>
            </div>
        </div>
    </div>
    <div class="column">
        <div class="card">
            <header class="card-header">
                <h3 class="card-header-title is-size-5 is-centered">
                    <a href="https://arithmetic-production.up.railway.app" target="_blank">Arithmetic
                        Game</a>
                </h3>
            </header>
            <div
                class="card-content has-text-centered is-size-5 has-background-primary-100 has-text-primary-100-invert">
                <figure>
                    <img src="https://raw.githubusercontent.com/slandath/images/main/resized/maths.png"
                        alt="math operators icon" />
                </figure>
                <p>
                    Practice your arithmetic!
                </p>
            </div>
        </div>
    </div>

    <div class="column">
        <div class="card">
            <header class="card-header">
                <h3 class="card-header-title is-size-5 is-centered">
                    <a href=" https://tom-coffee.vercel.app/" target="_blank">Coffee Blog</a>
                </h3>
            </header>
            <div
                class="card-content has-text-centered is-size-5 has-background-primary-100 has-text-primary-100-invert">
                <figure>
                    <img src="https://raw.githubusercontent.com/slandath/images/main/resized/big-cup.png"
                        alt="coffee mug icon" />
                </figure>
                <p>
                    All things java!
                </p>
            </div>
        </div>
    </div>
    <div class="column">
        <div class="card">
            <header class="card-header">
                <h3 class="card-header-title is-size-5 is-centered">
                    <a href="https://cs2keybinds-production.up.railway.app/" target="_blank">CS2
                        Keybind
                        Tool</a>
                </h3>
            </header>
            <div
                class="card-content has-text-centered is-size-5 has-background-primary-100 has-text-primary-100-invert">
                <figure>
                    <img src="https://raw.githubusercontent.com/slandath/images/main/csKeybind/cs2logo50.jpg"
                        alt="cs2 logo" />
                </figure>
                <p>
                    Generate commands for your keybinds
                </p>
            </div>
        </div>
    </div>
</div>
{% endcapture %}
{% include Message.html title="Portfolio" content=portfolio %}