<article class="message is-large" id="tool">
    <div class="message-header is-size-3 has-background-info-dark">
        <h2>Project Management Tools</h2>
    </div>
    <div class="message-body">
        <div class="card">
            <header class="card-header">
                <h3 class="card-header-title is-size-5 is-centered has-background-grey-light has-text-grey-darker">
                    <a href="https://docs.google.com/spreadsheets/d/1D-2Cn1jdH59Oz5HGSrb_D88fZMwAG5-r-I1EDdUVizs/edit?usp=sharing"
                        target="_blank">Project Workbook</a>
                </h3>
            </header>
            <div class="card-content has-text-centered">
                <figure>
                    <img src="https://raw.githubusercontent.com/slandath/images/main/resized/sheets.png"
                        alt="google sheets" />
                </figure>
                <p class="is-size-5">
                    A complete project workbook including:
                </p>
                <div class="block"></div>
                <p class="is-size-5">Statement of Work</p>
                <p class="is-size-5">Deliverables Tracker</p>
                <p class="is-size-5">Gantt Chart</p>
            </div>
        </div>
    </div>
</article>